extends layout

block content
    .login(ng-hide='user')
        form.auth-form(name='login')
            h3
                | Login
            h5(ng-show="authFail", ng-cloak)
                | Wrong credentials
            .form-group
                input.form-control(type='text', name='username', placeholder='Enter your username..', ng-model='username')
            .form-group
                input.form-control(type='password', name='password', placeholder='Enter your password..', ng-model='password')
            button.btn.btn-primary(type='submit', ng-click='signIn()')
                | Submit
    .content(ng-show='user', ng-controller="EarthquakeController", ng-cloak)
        .panel-group#accordion
            .panel.panel-default
                .panel-heading
                    h1.panel-title
                        a(data-toggle="collapse", data-parent="#accordion", href="#collapseOne")
                            | Insert an earthquake
            .panel-collapse.collapse#collapseOne
                .panel-body
                    form.eq-form
                        .form-group
                            h4
                                | Title:
                            input.form-control(type='text', ng-model='title')
                        .form-group
                            h4
                                | Magnitude:
                            input.form-control(type='text', ng-model='magnitude')
                        .form-group
                            h4
                                | Location:
                            input.form-control(type='text', ng-model='location')
                        .form-group
                            h4
                                | Depth:
                            input.form-control(type='text', ng-model='depth')
                        .form-group
                            h4
                                | Latitude:
                            input.form-control(type='text', ng-model='latitude')
                        .form-group
                            h4
                                | Longitude:
                            input.form-control(type='text', ng-model='longitude')
                        .form-group
                            h4
                                | Time:
                        .form-group
                            input.form-control(type='text', ng-model='date_time')
                        button.btn.btn-primary(type='button', ng-click='generateTime()')
                                | Generate
                        .form-group
                            h4
                                | External link:
                            input.form-control(type='text', ng-model='link')
                        button.btn.btn-primary(type='button', ng-click='saveEq()')
                            | Submit
        .panel.panel-default
                .panel-heading
                    h1.panel-title
                        a(data-toggle="collapse", data-parent="#accordion", href="#collapseTwo")
                            | Earthquake list
            .panel-collapse.collapse.in#collapseTwo
                .panel-body.eq-list
                        input.form-control(type='search', placeholder='Search...', ng-model='search')
                        button.btn.btn-danger.pull-right(type='button', ng-click='deleteAll()', ng-show='user.role == "superadmin"')
                            | Delete all
                        table.table
                            tr
                                th #
                                th Location
                                th M
                                th 
                            tr(ng-repeat="eq in equakes | filter: search")
                                td {{ $index + 1 }}
                                td {{ eq.location }}
                                td {{ eq.magnitude }}
                                td 
                                    a(href='javascript:void(0)',ng-click="deleteEq(eq, $index)")
                                        i.fa.fa-times.pull-right
                        button.btn.btn-primary.load-more(type='button', ng-click='getEquakes()')
                            | Load more
