body {
  padding: 0 50px;
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
  background-color: #7EB9ED !important;
}

.eq-form * {
	display: block;
}

.content {
	background-color: #FFF;
	height: 100%;
	margin: 0 auto;
	padding: 15px;
	width: 740px;
	border-radius: 8px;
}

.create-form {
	margin-bottom: 25px;
}

.no-padding {
	padding: 0 !important;
}

.no-margin {
	margin: 0 !important;
}

.eq-list {
	padding-left: 0 !important;
}

.eq-list input[type="search"] {
	display: inline;
	width: 150px;
	margin-bottom: 15px;
	-webkit-transition: width 0.4s ease-in-out;
	transition: width 0.4s ease-in-out;
}

.eq-list input[type="search"]:focus {
	width: 265px;
}

.panel-title {
	font-size: 22px !important;
}

.login {
	width: 700px;
	height:100vh;
	margin: auto;
}

.auth-form {
	background-color: #ffffff;
	text-align: center;
	padding: 20px;
	width: 350px;
	margin-left: auto;
	margin-right: auto;
	margin-top: 200px;
	border-radius: 7px;
}

.auth-form h3 {
	margin-top: 0;
}

.auth-form h5 {
	color: red;
}

.load-more {
	margin-left: 43%;
}